body {
  padding: 10px;
}

.container-box {
  display: grid;
  grid-gap: 10px; /* espaçamento linhas-colunas */
  grid-template-columns: auto;
  grid-template-rows: 50px 100px 150px;
  /* 3 linhas, camanho de cada uma */

  /* disposção na tela observe que a aparece 3x na primeira col
  e 2x na segunda col e f aparece 2x na terceira e 2x na quarta */
  grid-template-areas:
  'a b c d'
  'a e f f'
  'a e f f';
}

.box {
  background-color: #FF8C00;
  border-radius: 5px;
}

.a {
  grid-area: a;
  text-align: center;
  transition: 0.5s;
}
.a:hover {
  color: white;
  background-color: red;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}