body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
.formulario {
  margin-top: 50%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}
#inputIdade {
  width: 50px;
}

.inputForm {
  display: flex;
  flex-direction: row;
}
.inputTitle {
  width: 30%;
}
.inputGroup {
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.outputRespostas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 8px;
}

label {
  box-sizing: border-box;
}
label:hover {
  cursor: pointer;
  color: gray;
}

button {
  font-size: 16px;
  border-radius: 6px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
button:hover {
  font-weight: bold;
  outline: 2px solid black;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.resultado {
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
}